<form class="form-container" #carForm="ngForm"  (ngSubmit)="onSubmit(carForm)">

  <mat-form-field appearance="fill" color="accent" >
    <mat-label>Manufacturer</mat-label>
    <input matInput required>
  </mat-form-field>

  <mat-form-field appearance="fill" color="accent" >
    <mat-label>Model</mat-label>
    <input matInput required>
  </mat-form-field>

  <mat-form-field appearance="fill" color="accent" >
    <mat-label>Type</mat-label>
    <input matInput required>
  </mat-form-field>

  <mat-form-field appearance="fill" color="accent" >
    <mat-label>Color</mat-label>
    <input matInput required>
  </mat-form-field>

  <mat-form-field appearance="fill" color="accent" >
    <mat-label>Year</mat-label>
    <input matInput required>
  </mat-form-field>

  <div class="submit-container">
    <button class="btn-submit"  mat-flat-button color="accent">
      Submit
    </button>
  </div>

</form>
