.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 25px auto;
}

.submit-container{
  display: flex;
  justify-content: center;
}

.btn-submit {
  width: 30%;
}


